@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&family=Zen+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Telugu:ital@0;1&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background: rgb(102, 52, 38);
  background: linear-gradient(90deg, rgb(102, 52, 38) 0%, rgb(87, 71, 29) 29%, rgb(96, 72, 31) 73%, rgb(96, 54, 28) 100%);
}

h6 {
  color: #ffa200;
}

h2 {
  font-size: 3rem;
}

h5 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  color: #f6f6f6;
}

i {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

section {
  padding-top: 70px;
  padding-bottom: 100px;
}

.card-effect {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 35px;
  transition: all 0.3s ease;
}
.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.button a {
  width: 14rem;
  margin: auto;
  color: #fff;
  border: #fff 1px solid;
  padding-right: 2rem;
  padding-left: 2rem;
}

/*========= ナビゲーションのためのCSS ===============*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
}
header img {
  width: 7rem;
  height: auto;
  color: #fff;
  z-index: 100;
}

#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: -120%;
  left: 0;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #fff;
  /*動き*/
  transition: all 0.3s;
  /*アクティブクラスがついたら位置を0に*/
  /*ナビゲーション*/
}
#g-nav.panelactive {
  top: 0;
  /*ナビゲーションの縦スクロール*/
}
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#g-nav ul li {
  text-align: center;
}
#g-nav ul li a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 2.5rem;
}
#g-nav ul li a:hover {
  color: #c7c5c5;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  /*×に変化*/
}
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 1px;
  border-radius: 2px;
  background-color: #fff;
  width: 45%;
}
.openbtn span:nth-of-type(1) {
  top: 15px;
}
.openbtn span:nth-of-type(2) {
  top: 23px;
}
.openbtn span:nth-of-type(3) {
  top: 31px;
}
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
  background-color: #000;
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
  background-color: #000;
}

.toppage video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.toppage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1e02;
  mix-blend-mode: overlay;
  z-index: -10;
}
.toppage .title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.toppage .title h1 {
  font-size: 5rem;
  font-weight: 900;
  text-shadow: #000 1px 3px 6px;
  letter-spacing: -0.3rem;
  font-family: "Tiro Telugu", serif;
  /*========= 流れるテキスト ===============*/
  /*全共通*/
  /*左右のアニメーション*/
}
.toppage .title h1 .slide-in {
  overflow: hidden;
  display: inline-block;
}
.toppage .title h1 .slide-in_inner {
  display: inline-block;
}
.toppage .title h1 .leftAnime {
  opacity: 0;
  /*事前に透過0にして消しておく*/
}
.toppage .title h1 .slideAnimeLeftRight {
  animation-name: slideTextX100;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slideTextX100 {
  from {
    transform: translateX(-100%);
    /*要素を左の枠外に移動*/
    opacity: 0;
  }
  to {
    transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}
.toppage .title h1 .slideAnimeRightLeft {
  animation-name: slideTextX-100;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slideTextX-100 {
  from {
    transform: translateX(100%);
    /*要素を右の枠外に移動*/
    opacity: 0;
  }
  to {
    transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}
.toppage .scrolldown4 {
  /*=== 9-1-4 矢印が動いてスクロールを促す  ====*/
  /*スクロールダウン全体の場所*/
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 2%;
  right: 50%;
  /*矢印の動き1.5秒かけて永遠にループ*/
  animation: arrowmove 1.5s ease-in-out infinite;
  /* 矢印の描写 */
  /*Scrollテキストの描写*/
  /*下からの距離が変化して全体が下→上→下に動く*/
}
.toppage .scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: -3px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #eee;
  transform: skewX(-15deg);
}
.toppage .scrolldown4:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 50px;
  background: #eee;
}
.toppage .scrolldown4 span {
  /*描画位置*/
  position: absolute;
  left: -20px;
  bottom: 10px;
  /*テキストの形状*/
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 1%;
  }
}
.toppage .copyright {
  position: absolute;
  top: 50%;
  left: -5.5%;
  transform: translateY(-50%);
  transform: rotate(90deg);
  transform-origin: center;
}
.toppage .copyright p {
  font-size: 0.5rem;
  font-weight: 200;
}
.toppage .sns {
  position: absolute;
  top: 50%;
  right: 2.5rem;
  transform: translateY(-50%);
  z-index: 160;
}
.toppage .sns ul {
  display: block;
  flex-direction: column !important;
}
.toppage .sns ul li {
  padding-bottom: 1rem;
}
.toppage .sns ul li a {
  display: inline-block;
  transition: all 0.25s ease;
}
.toppage .sns ul li a:hover {
  transform: translateY(-4px);
}
.toppage .sns ul li a i {
  font-size: 2rem;
}
.toppage .sns ul li a i:hover {
  color: #ec970e;
}

.about {
  background: rgb(45, 42, 96);
  background: linear-gradient(90deg, #38485e 0%, rgb(76, 91, 90) 29%, rgb(67, 83, 81) 71%, #38485e 100%);
}
.about .about-text-bg {
  background-color: rgb(26, 26, 26);
  padding: 5rem;
  border-radius: 1rem;
}
.about .about-text-bg:hover {
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(30, 30, 30);
}
.about .about-text-bg:hover h3,
.about .about-text-bg:hover p {
  color: #000;
}
.about .about-text-bg h3,
.about .about-text-bg p {
  color: #fff;
}
.about .about-text-bg h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.7rem;
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
.about .about-text-bg h3:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}
.about .about-text-bg h3::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: -2.5px;
  left: 30%;
  /*線の形状*/
  width: 40%;
  height: 1.5px;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: center top;
  /*上部中央基点*/
}
.about .about-text-bg .about-title01::after {
  background: #000;
}
.about .about-text-bg p {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.rest {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 22rem;
  z-index: 0;
  overflow: hidden;
}
.rest::before {
  content: "";
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}
.rest .rest-title {
  color: rgb(231, 243, 212);
  font-size: 5rem;
  font-weight: 700;
  line-height: 21rem;
  text-align: center;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 10px #333;
}

.rest01 {
  background-image: url(/images/pexels-max-deroin-51415.jpg);
}

.rest02 {
  background-image: url(/images/pexels-photo-4709285.webp);
}

.teacher {
  background: rgb(199, 141, 81);
  background: linear-gradient(90deg, rgb(199, 141, 81) 0%, rgb(194, 147, 70) 31%, rgb(207, 122, 53) 65%, rgb(218, 124, 65) 100%);
}
.teacher #teacher {
  margin-top: 10rem;
}
.teacher .team-member {
  height: 40rem;
}
.teacher .team-member img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center top;
}
.teacher .team-member h5 {
  color: #000;
}
.teacher .team-member p {
  color: #000;
}

.course {
  padding: 0;
  height: 100%;
}
.course .section-wr {
  position: relative;
  width: 100vw;
  height: 240vh;
  overflow: hidden;
}
.course .section-wr video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
}
.course .section-wr::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.course .section-wr .section-ttl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  z-index: 1;
}
.course .section-wr .section-ttl .course-design-wr {
  padding-right: 1.5rem;
}
.course .section-wr .section-ttl .course-development-wr {
  padding-left: 1.5rem;
}
.course .section-wr .section-ttl h3 {
  margin-bottom: 2rem;
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
.course .section-wr .section-ttl h3:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}
.course .section-wr .section-ttl h3::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: -2.5px;
  left: 40%;
  /*線の形状*/
  width: 20%;
  height: 1.5px;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: center top;
  /*上部中央基点*/
}
.course .section-wr .section-ttl .design-title:hover {
  color: #a3febe;
}
.course .section-wr .section-ttl .design-title::after {
  background: #a3febe;
}
.course .section-wr .section-ttl .development-title:hover {
  color: #7ddcf6;
}
.course .section-wr .section-ttl .development-title::after {
  background: #7ddcf6;
}
.course .section-wr .section-ttl .course-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  border: 0.5px solid #fff;
}
.course .section-wr .section-ttl .course-item h4 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 0.2rem;
}
.course .section-wr .section-ttl .course-item p {
  font-size: 1.3rem;
}
.course .section-wr .section-ttl .course-item img {
  transition: all 0.25s ease;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.course .section-wr .section-ttl .course-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
}
.course .section-wr .section-ttl .course-item .overlay h2,
.course .section-wr .section-ttl .course-item .overlay h5 {
  color: #fff;
}
.course .section-wr .section-ttl .course-item:hover .overlay {
  opacity: 1;
}
.course .section-wr .section-ttl .course-item:hover img {
  transform: scale(1.1);
}
.course .section-wr .section-ttl .course-item .course-design {
  background-color: rgba(7, 24, 1, 0.8);
}
.course .section-wr .section-ttl .course-item .course-development {
  background-color: rgba(2, 7, 23, 0.8);
}

.works {
  padding-top: 10rem;
  background: rgb(102, 52, 38);
  background: linear-gradient(90deg, rgb(102, 52, 38) 0%, rgb(87, 71, 29) 29%, rgb(96, 72, 31) 73%, rgb(96, 54, 28) 100%);
}
.works .carousel {
  border-radius: 50px;
}
.works .carousel .carousel-inner .carousel-item {
  height: 700px;
  background: #000;
}
.works .carousel .carousel-inner .carousel-item .img-fluid {
  width: 100%;
  height: auto;
  min-height: 700px;
  opacity: 0.2;
  object-fit: cover;
}
.works .carousel .carousel-inner .carousel-item .img-fluid::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.works .carousel .carousel-inner .carousel-item a {
  display: block;
  width: 100%;
}
.works .carousel .carousel-inner .carousel-item .show-image {
  display: block;
  width: 100%;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption {
  bottom: 24rem;
  text-shadow: 0 2px 2px #666;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 6rem;
  padding-bottom: 0.5rem;
  font-weight: 800;
  margin-bottom: 0.2rem;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption h6 {
  font-size: 1.3rem;
  color: #fff;
  width: 13rem;
  margin: auto;
  letter-spacing: -0.2rem;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 2rem;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption a {
  width: 6.5rem;
  margin: auto;
  background-color: rgb(244, 139, 20);
  color: #fff;
  padding: 2rem;
  text-shadow: none;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption a:hover {
  background-color: rgb(241, 176, 101);
}
.works .carousel .carousel-control-prev-icon:hover {
  color: aquamarine;
}

.graduate {
  background: rgb(102, 52, 38);
  background: linear-gradient(90deg, rgb(102, 52, 38) 0%, rgb(87, 71, 29) 29%, rgb(96, 72, 31) 73%, rgb(96, 54, 28) 100%);
}
.graduate img {
  width: 100%;
  height: 23rem;
  object-fit: cover;
  border-radius: 5px;
}
.graduate .gra-p-img {
  padding-left: 16rem;
}
.graduate .gra-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
}
.graduate .gra-description h5 {
  font-size: 2rem;
}
.graduate .gra-description .gra-category {
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 1rem;
}
.graduate .gra-description .gra-design {
  width: 7rem;
  border: #97f6a7 solid 1px;
  color: #97f6a7;
}
.graduate .gra-description .gra-development {
  width: 5rem;
  border: #a5ecfb solid 1px;
  color: #a5ecfb;
}
.graduate .gra-description p {
  width: 70%;
  font-size: 1.5rem;
}
.graduate .gra-description a {
  background-color: rgb(244, 139, 20);
  color: #fff;
  width: 6rem;
}
.graduate .gra-description a:hover {
  background-color: rgb(241, 176, 101);
}

.wave {
  background: rgb(102, 52, 38);
  background: linear-gradient(90deg, rgb(102, 52, 38) 0%, rgb(87, 71, 29) 29%, rgb(96, 72, 31) 73%, rgb(96, 54, 28) 100%);
  position: relative;
  height: 200px;
  /*何も表示されない場合は各波の親要素に高さを持たせましょう。*/
}

canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer {
  background-color: #fff;
  padding: 20px;
  z-index: 100;
  padding-bottom: 7rem;
}
.footer img {
  width: 100%;
  height: 3rem;
}
.footer ul li {
  margin-left: 2rem;
}
.footer ul li a {
  color: #000;
  font-size: 1.7rem;
}
.footer ul li a:hover {
  color: #c7c5c5;
}

@media (max-width: 1200px) {
  .toppage .title h1 {
    font-size: 4rem;
  }

  .graduate .gra-p-img {
    padding-left: 2rem;
  }
  .graduate .gra-description {
    padding-left: 4rem;
  }
  .graduate .gra-description p {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .toppage .title h1 {
    font-size: 3rem;
  }

  nav .navbar-toggler {
    z-index: 10;
    color: #fff !important;
  }
  nav .nav-list {
    z-index: 10;
    padding-right: 0rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  nav .nav-list .navbar-nav .nav-item .nav-link {
    font-size: 1.4rem;
    color: #000 !important;
  }

  .teacher #teacher {
    margin-top: 6rem;
  }
  .teacher .team-member {
    height: 36rem;
  }
  .teacher .team-member img {
    width: 150px;
    height: 150px;
  }

  .course .section-wr {
    height: 200vh;
  }
  .course .section-wr .section-ttl .course-design-wr {
    padding-right: 0.5rem;
  }
  .course .section-wr .section-ttl .course-development-wr {
    padding-left: 0.5rem;
  }
  .course .section-wr .section-ttl h3 {
    margin-bottom: 1rem;
  }
  .course .section-wr .section-ttl .course-item h4 {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
  }
  .course .section-wr .section-ttl .course-item p {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .works {
    padding-top: 8rem;
  }
  .works .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 5rem;
  }
  .works .carousel .carousel-inner .carousel-item .carousel-caption h6 {
    font-size: 1.3rem;
  }
  .works .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 1.9rem;
  }
  .works .carousel .carousel-inner .carousel-item .carousel-caption a {
    width: 6.5rem;
    padding: 2rem;
  }
}
@media (max-width: 772px) {
  .toppage .title h1 {
    font-size: 2.7rem;
  }
  .toppage .copyright {
    left: -10%;
  }

  .teacher #teacher {
    margin-top: 4rem;
  }
  .teacher .team-member {
    height: 38rem;
  }
  .teacher .team-member img {
    width: 200px;
    height: 200px;
  }

  .course .section-wr {
    height: 340vh;
  }
  .course .section-wr .section-ttl .course-design-wr {
    padding-right: 0rem;
  }
  .course .section-wr .section-ttl .course-development-wr {
    padding-left: 0rem;
  }
  .course .section-wr .section-ttl h3 {
    margin-bottom: 1rem;
  }
  .course .section-wr .section-ttl .course-item {
    margin-bottom: 0.9rem;
  }
  .course .section-wr .section-ttl .course-item img {
    height: 17rem;
  }
  .course .section-wr .section-ttl .course-item h4 {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
  }
  .course .section-wr .section-ttl .course-item p {
    margin-bottom: 0;
  }

  .works .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 5rem;
  }
  .works .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 1.8rem;
    padding-bottom: 0rem;
  }
  .works .carousel .carousel-inner .carousel-item .carousel-caption a {
    width: 5.5rem;
  }

  .graduate img {
    height: 20rem;
  }
  .graduate .gra-p-img {
    padding-left: 0rem;
  }
  .graduate .gra-description {
    padding-left: 0rem;
  }
  .graduate .gra-description h5 {
    font-size: 2.2rem;
    margin-top: 2rem;
  }
  .graduate .gra-description p {
    width: 100%;
  }
}
@media (max-width: 630px) {
  .toppage .title h1 {
    font-size: 2rem;
  }
  .toppage .copyright {
    left: -12%;
  }

  .graduate img {
    height: 20rem;
  }
  .graduate .gra-p-img {
    padding: 0 1rem;
  }
  .graduate .gra-description {
    padding: 0 1rem;
  }
  .graduate .gra-description h5 {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .graduate .gra-description a {
    display: inline-block;
    margin: 0 auto;
  }
}
@media (max-width: 441px) {
  .toppage .title h1 {
    font-size: 1.74rem;
  }
  .toppage .copyright {
    left: -22%;
  }

  .course .section-wr {
    height: 350vh;
  }
  .course .section-wr .section-ttl h3 {
    margin-bottom: 0.5rem;
  }
  .course .section-wr .section-ttl .course-item {
    margin-bottom: 0.9rem;
  }
  .course .section-wr .section-ttl .course-item img {
    height: 17rem;
  }
  .course .section-wr .section-ttl .course-item h4 {
    font-size: 1.4rem;
    margin-bottom: 0rem;
  }
  .course .section-wr .section-ttl .course-item p {
    font-size: 1.2rem;
    margin-bottom: 0;
    line-height: 1.6rem;
  }

  .works .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 4rem;
    line-height: 3.8rem;
  }
  .works .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 1.7rem;
  }

  .graduate {
    padding-bottom: 0px;
  }
  .graduate img {
    height: 15rem;
  }
  .graduate .gra-p-img {
    padding: 0 1rem;
  }
  .graduate .gra-description {
    padding: 0 1rem;
  }
  .graduate .gra-description h5 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  .graduate .gra-description p {
    line-height: 1.8rem;
  }

  .footer img {
    height: 2rem;
  }
  .footer ul li {
    margin-left: 1rem;
  }
  .footer ul li a {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=style.css.map */