@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&family=Zen+Antique&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(199, 141, 81);
  background: linear-gradient(90deg, rgb(199, 141, 81) 0%, rgb(194, 147, 70) 31%, rgb(207, 122, 53) 65%, rgb(218, 124, 65) 100%);
  color: #fff;
}

h6 {
  color: #ffa200;
}

h2 {
  font-size: 3rem;
}

h5 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  color: #f6f6f6;
}

i {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

section {
  padding-top: 60px;
  padding-bottom: 100px;
}

.card-effect {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 35px;
  transition: all 0.3s ease;
}
.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.button a {
  width: 14rem;
  margin: auto;
  color: #fff;
  border: #fff 1px solid;
  padding-right: 2rem;
  padding-left: 2rem;
}

.fixed {
  position: fixed;
  top: 0;
  /*ページ上部の固定する位置*/
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}
.fixed .nav-link {
  color: #000;
}

nav header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
nav header img {
  width: 5rem;
  height: auto;
  color: #fff;
  z-index: 100;
}
nav .navbar-toggler {
  z-index: 10;
  color: #fff !important;
}
nav .nav-list {
  z-index: 10;
  padding-right: 5rem;
}
nav .nav-list .navbar-nav .nav-item .nav-link {
  font-size: 1.4rem;
  color: #fff;
}

.toppage video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.toppage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1e02;
  mix-blend-mode: overlay;
  z-index: -10;
}
.toppage .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.toppage .title h1 {
  font-size: 6rem;
  font-weight: 900;
  text-shadow: #000 1px 3px 6px;
  letter-spacing: -0.3rem;
}

.rest {
  position: relative;
  background-image: url(/images/feature_learning.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 22rem;
  z-index: 0;
  overflow: hidden;
}
.rest::before {
  content: "";
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}
.rest .rest-title {
  color: rgb(231, 243, 212);
  font-size: 5rem;
  font-weight: 700;
  line-height: 21rem;
  text-align: center;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 10px #333;
}

.teacher .team-member img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}
.teacher .team-member h5 {
  color: #000;
}
.teacher .team-member p {
  color: #000;
}

.works .carousel {
  border-radius: 50px;
}
.works .carousel .carousel-inner .carousel-item {
  height: 700px;
  background: #000;
}
.works .carousel .carousel-inner .carousel-item .img-fluid {
  width: 100%;
  height: auto;
  min-height: 700px;
  opacity: 0.2;
  object-fit: cover;
}
.works .carousel .carousel-inner .carousel-item .img-fluid::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.works .carousel .carousel-inner .carousel-item a {
  display: block;
  width: 100%;
}
.works .carousel .carousel-inner .carousel-item .show-image {
  display: block;
  width: 100%;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption {
  bottom: 24rem;
  text-shadow: 0 2px 2px #666;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 6rem;
  padding-bottom: 0.5rem;
  font-weight: 800;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption h6 {
  font-size: 1.3rem;
  color: #fff;
  width: 13rem;
  margin: auto;
  letter-spacing: -0.2rem;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 2rem;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption a {
  width: 6.5rem;
  margin: auto;
  background-color: rgb(244, 139, 20);
  color: #fff;
  padding: 2rem;
  text-shadow: none;
}
.works .carousel .carousel-inner .carousel-item .carousel-caption a:hover {
  background-color: rgb(241, 176, 101);
}
.works .carousel .carousel-control-prev-icon:hover {
  color: aquamarine;
}

.graduate img {
  width: 100%;
  height: 27rem;
  object-fit: cover;
  border-radius: 5px;
}
.graduate .gra-p-img {
  padding-left: 16rem;
}
.graduate .gra-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
}
.graduate .gra-description h5 {
  font-size: 2rem;
}
.graduate .gra-description .gra-category {
  width: 7rem;
  padding: 0.3rem;
  font-size: 1rem;
}
.graduate .gra-description .gra-design {
  border: #97f6a7 solid 1px;
  color: #97f6a7;
}
.graduate .gra-description .gra-development {
  border: #a5ecfb solid 1px;
  color: #a5ecfb;
}
.graduate .gra-description p {
  width: 70%;
  font-size: 1.5rem;
}
.graduate .gra-description a {
  background-color: rgb(244, 139, 20);
  color: #fff;
  width: 6rem;
}
.graduate .gra-description a:hover {
  background-color: rgb(241, 176, 101);
}

@media (max-width: 1200px) {
  .graduate .gra-p-img {
    padding-left: 2rem;
  }
  .graduate .gra-description {
    padding-left: 4rem;
  }
  .graduate .gra-description p {
    width: 100%;
  }
}
@media (max-width: 992px) {
  nav .navbar-toggler {
    z-index: 10;
    color: #fff !important;
  }
  nav .nav-list {
    z-index: 10;
    padding-right: 0rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  nav .nav-list .navbar-nav .nav-item .nav-link {
    font-size: 1.4rem;
    color: #000 !important;
  }
}
@media (max-width: 772px) {
  .graduate img {
    height: 20rem;
  }
  .graduate .gra-p-img {
    padding-left: 0rem;
  }
  .graduate .gra-description {
    padding-left: 0rem;
  }
  .graduate .gra-description h5 {
    font-size: 2.2rem;
    margin-top: 2rem;
  }
  .graduate .gra-description p {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */