@import "./variable";
@import "./function";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&family=Zen+Antique&display=swap");

html {
  // デフォルトのfont-sizeが16pxから10px
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   navvarでのfixedとtoppageの重なりを防ぐため
  padding-top: 4rem;
}

i {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

section + section {
  padding-top: 60px;
  padding-bottom: 100px;
}

.card-effect {
  box-shadow: $boxshadow;
  background-color: #fff;
  padding: 35px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: none;
    transform: translateY(5px);
  }
}

// navvar section
.navvar-light {
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 1.5rem;
      }
    }
  }
}

// toppage section
.toppage {
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1e02;
    mix-blend-mode: overlay;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    h1 {
      font-size: 4rem;
      font-weight: 1000;
      text-shadow: #000 1px 3px 6px;
      letter-spacing: -0.3rem;
    }
  }
}

// teacher section
.teacher {
  .team-member {
    img {
      width: 200px;
      height: 200px;
      // width: 125px;
      // height: 125px;
      border-radius: 100px;
      object-fit: cover;
    }
  }
}

// works section
.works {
  .carousel {
    border-radius: 50px;
    .carousel-inner {
      .carousel-item {
        height: 700px;
        // height: auto;
        background: #000;

        .img-fluid {
          width: 100%;
          height: auto;
          min-height: 700px;
          opacity: 0.2;
          object-fit: cover;

          &::after {
            @include overlay(rgba(0, 0, 0, 0.5));
            z-index: -1;
          }
        }

        a {
          display: block;
          width: 100%;
        }

        .show-image {
          display: block;
          width: 100%;
        }

        .carousel-caption {
          bottom: 24rem;
          text-shadow: 0 2px 2px #666;
          h5 {
            font-size: 6rem;
            padding-bottom: 0.5rem;
            font-weight: 800;
          }

          h6 {
            font-size: 1.3rem;
            color: #fff;
            width: 13rem;
            margin: auto;
            letter-spacing: -0.2rem;
          }

          p {
            font-size: 2rem;
            padding-top: 0.3rem;
          }

          a {
            width: 6.5rem;
            margin: auto;
            margin-bottom: 2rem;
            background-color: rgb(244, 139, 20);
            color: #fff;
            padding: 2rem;
            text-shadow: none;

            &:hover {
              background-color: rgb(241, 176, 101);
            }
          }
        }
      }
    }

    .carousel-control-prev-icon {
      &:hover {
        color: aquamarine;
      }
    }
  }
  .works-btn {
    a {
      width: 14rem;
      margin: auto;
    }
  }
}

// @media query
// @media (max-width: 992px) {
//   // works section
//   .works {
//   }
// }
