@import "./variable";
@import "./function";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&family=Zen+Antique&display=swap");

html {
  // デフォルトのfont-sizeが16pxから10px
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   navvarでのfixedとtoppageの重なりを防ぐため
  padding-top: 4rem;
  // background: rgb(122, 87, 51);
  // background: linear-gradient(
  //   90deg,
  //   rgba(122, 87, 51, 1) 0%,
  //   rgba(108, 82, 39, 1) 31%,
  //   rgba(148, 88, 39, 1) 71%,
  //   rgba(119, 68, 36, 1) 100%
  // );
  background: rgb(199, 141, 81);
  background: linear-gradient(
    90deg,
    rgba(199, 141, 81, 1) 0%,
    rgba(194, 147, 70, 1) 31%,
    rgba(207, 122, 53, 1) 65%,
    rgba(218, 124, 65, 1) 100%
  );
  color: $mainTextColor;
}

h6 {
  color: #ffa200;
}

h2 {
  font-size: 3rem;
}

h5 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  color: #f6f6f6;
}

i {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

section {
  padding-top: 60px;
  padding-bottom: 100px;
}
// section + section {
//   padding-top: 60px;
//   padding-bottom: 100px;
// }

.card-effect {
  box-shadow: $boxshadow;
  background-color: #fff;
  padding: 35px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: none;
    transform: translateY(5px);
  }
}

.button {
  a {
    width: 14rem;
    margin: auto;
    color: #fff;
    border: #fff 1px solid;
  }
}

// navvar section
.navvar-light {
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 1.5rem;
      }
    }
  }
}

// toppage section
.toppage {
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1e02;
    mix-blend-mode: overlay;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    h1 {
      font-size: 6rem;
      font-weight: 900;
      text-shadow: #000 1px 3px 6px;
      letter-spacing: -0.3rem;
    }
  }
}

// rest space
.rest {
  position: relative;
  background-image: url(/images/feature_learning.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 22rem;
  z-index: 0;
  overflow: hidden;

  // transform: skewY(-5deg);
  // z-index: 10000;

  // .rest-img {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   transform: skewY(5deg);
  // }

  &::before {
    content: "";
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    // 画像の端までぼけてしまうため切り落とすため
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }

  .rest-title {
    color: rgb(231, 243, 212);
    font-size: 5rem;
    font-weight: 700;
    line-height: 21rem;
    text-align: center;
    display: inline-block;
    @include middle();
    text-shadow: 0 0 10px #333;
  }
}

// teacher section
.teacher {
  .team-member {
    img {
      width: 200px;
      height: 200px;
      // width: 125px;
      // height: 125px;
      border-radius: 100px;
      object-fit: cover;
    }

    h5 {
      color: #000;
    }

    p {
      color: #000;
    }
  }
}

// works section
.works {
  .carousel {
    border-radius: 50px;
    .carousel-inner {
      .carousel-item {
        height: 700px;
        // height: auto;
        background: #000;

        .img-fluid {
          width: 100%;
          height: auto;
          min-height: 700px;
          opacity: 0.2;
          object-fit: cover;

          &::after {
            @include overlay(rgba(0, 0, 0, 0.5));
            z-index: -1;
          }
        }

        a {
          display: block;
          width: 100%;
        }

        .show-image {
          display: block;
          width: 100%;
        }

        .carousel-caption {
          bottom: 24rem;
          text-shadow: 0 2px 2px #666;
          h5 {
            font-size: 6rem;
            padding-bottom: 0.5rem;
            font-weight: 800;
          }

          h6 {
            font-size: 1.3rem;
            color: #fff;
            width: 13rem;
            margin: auto;
            letter-spacing: -0.2rem;
          }

          p {
            font-size: 2rem;
            padding-top: 0.3rem;
            padding-bottom: 1rem;
          }

          a {
            width: 6.5rem;
            margin: auto;
            background-color: rgb(244, 139, 20);
            color: #fff;
            padding: 2rem;
            text-shadow: none;

            &:hover {
              background-color: rgb(241, 176, 101);
            }
          }
        }
      }
    }

    .carousel-control-prev-icon {
      &:hover {
        color: aquamarine;
      }
    }
  }
}

// graduate section
.graduate {
  img {
    width: 100%;
    height: 27rem;
    object-fit: cover;
    border-radius: 5px;
  }
  .gra-p-img {
    // width: 40%;
    padding-left: 16rem;
  }
  .gra-description {
    // width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 2rem;
    padding-left: 10rem;

    h5 {
      font-size: 2rem;
    }

    .gra-category {
      width: 7rem;
      padding: 0.3rem;
      font-size: 1rem;
    }

    .gra-design {
      border: #97f6a7 solid 1px;
      color: #97f6a7;
    }

    .gra-development {
      border: #a5ecfb solid 1px;
      color: #a5ecfb;
    }

    p {
      width: 70%;
      font-size: 1.5rem;
    }

    a {
      background-color: rgb(244, 139, 20);
      color: #fff;
      width: 6rem;

      &:hover {
        background-color: rgb(241, 176, 101);
      }
    }
  }
}

// @media query
@media (max-width: 1200px) {
  // graduate section
  .graduate {
    .gra-p-img {
      padding-left: 2rem;
    }
    .gra-description {
      padding-left: 4rem;

      p {
        width: 100%;
      }
    }
  }
}

@media (max-width: 772px) {
  // graduate section
  .graduate {
    img {
      height: 20rem;
    }
    .gra-p-img {
      padding-left: 0rem;
    }
    .gra-description {
      padding-left: 0rem;

      h5 {
        font-size: 2.2rem;
        margin-top: 2rem;
      }

      p {
        width: 100%;
      }
    }
  }
}
