@import "./variable";
@import "./function";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&family=Zen+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Telugu:ital@0;1&display=swap");

html {
  // デフォルトのfont-sizeが16pxから10px
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   navvarでのfixedとtoppageの重なりを防ぐため
  // padding-top: 4rem;
  color: $mainTextColor;
  // video入れたら消す
  background: rgb(102, 52, 38);
  background: linear-gradient(
    90deg,
    rgba(102, 52, 38, 1) 0%,
    rgba(87, 71, 29, 1) 29%,
    rgba(96, 72, 31, 1) 73%,
    rgba(96, 54, 28, 1) 100%
  );
}

h6 {
  color: #ffa200;
}

h2 {
  font-size: 3rem;
}

h5 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  color: #f6f6f6;
}

i {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

section {
  padding-top: 70px;
  padding-bottom: 100px;
}
// section + section {
//   padding-top: 60px;
//   padding-bottom: 100px;
// }

.card-effect {
  box-shadow: $boxshadow;
  background-color: #fff;
  padding: 35px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: none;
    transform: translateY(5px);
  }
}

.button {
  a {
    width: 14rem;
    margin: auto;
    color: #fff;
    border: #fff 1px solid;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

// navvar section
/*========= ナビゲーションのためのCSS ===============*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;

  img {
    width: 7rem;
    height: auto;
    color: #fff;
    z-index: 100;
  }
}
#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: -120%;
  left: 0;
  width: 100%;
  height: 100vh; /*ナビの高さ*/
  background: #fff;
  /*動き*/
  transition: all 0.3s;
  /*アクティブクラスがついたら位置を0に*/
  &.panelactive {
    top: 0;
    /*ナビゲーションの縦スクロール*/
    #g-nav-list {
      /*ナビの数が増えた場合縦スクロール*/
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 100vh; /*表示する高さ*/
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  /*ナビゲーション*/
  ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    li {
      text-align: center;
      a {
        color: #000;
        text-decoration: none;
        padding: 10px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 500;
        font-size: 2.5rem;
        // font-family: "Tiro Telugu", serif;
        &:hover {
          color: #c7c5c5;
        }
      }
    }
  }
}
/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  z-index: 9999; /*ボタンを最前面に*/
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  /*×に変化*/
  span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 1px;
    border-radius: 2px;
    background-color: #fff;
    width: 45%;
    &:nth-of-type(1) {
      top: 15px;
    }
    &:nth-of-type(2) {
      top: 23px;
    }
    &:nth-of-type(3) {
      top: 31px;
    }
  }
  &.active {
    span {
      &:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
        background-color: #000;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
        background-color: #000;
      }
    }
  }
}

// toppage section
.toppage {
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1e02;
    // background-color: #000;
    mix-blend-mode: overlay;
    z-index: -10;
  }

  .title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    h1 {
      font-size: 5rem;
      font-weight: 900;
      text-shadow: #000 1px 3px 6px;
      letter-spacing: -0.3rem;
      font-family: "Tiro Telugu", serif;

      /*========= 流れるテキスト ===============*/

      /*全共通*/

      .slide-in {
        overflow: hidden;
        display: inline-block;
      }

      .slide-in_inner {
        display: inline-block;
      }

      /*左右のアニメーション*/
      .leftAnime {
        opacity: 0; /*事前に透過0にして消しておく*/
      }

      .slideAnimeLeftRight {
        animation-name: slideTextX100;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        opacity: 0;
      }

      @keyframes slideTextX100 {
        from {
          transform: translateX(-100%); /*要素を左の枠外に移動*/
          opacity: 0;
        }

        to {
          transform: translateX(0); /*要素を元の位置に移動*/
          opacity: 1;
        }
      }

      .slideAnimeRightLeft {
        animation-name: slideTextX-100;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        opacity: 0;
      }

      @keyframes slideTextX-100 {
        from {
          transform: translateX(100%); /*要素を右の枠外に移動*/
          opacity: 0;
        }

        to {
          transform: translateX(0); /*要素を元の位置に移動*/
          opacity: 1;
        }
      }
    }
  }

  .scrolldown4 {
    /*=== 9-1-4 矢印が動いてスクロールを促す  ====*/
    /*スクロールダウン全体の場所*/

    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    bottom: 2%;
    right: 50%;
    /*矢印の動き1.5秒かけて永遠にループ*/
    animation: arrowmove 1.5s ease-in-out infinite;

    /* 矢印の描写 */
    &:before {
      content: "";
      /*描画位置*/
      position: absolute;
      bottom: 0;
      right: -3px;
      /*矢印の形状*/
      width: 1px;
      height: 20px;
      background: #eee;
      transform: skewX(-15deg);
    }
    &:after {
      content: "";
      /*描画位置*/
      position: absolute;
      bottom: 0;
      right: 0;
      /*矢印の形状*/
      width: 1px;
      height: 50px;
      background: #eee;
    }

    /*Scrollテキストの描写*/
    span {
      /*描画位置*/
      position: absolute;
      left: -20px;
      bottom: 10px;
      /*テキストの形状*/
      color: #eee;
      font-size: 0.7rem;
      letter-spacing: 0.05em;
      /*縦書き設定*/
      -ms-writing-mode: tb-rl;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
    }
    /*下からの距離が変化して全体が下→上→下に動く*/
    @keyframes arrowmove {
      0% {
        bottom: 1%;
      }
      50% {
        bottom: 2%;
      }
      100% {
        bottom: 1%;
      }
    }
  }

  .copyright {
    position: absolute;
    top: 50%;
    left: -5.5%;
    transform: translateY(-50%);
    transform: rotate(90deg);
    transform-origin: center;
    p {
      font-size: 0.5rem;
      font-weight: 200;
    }
  }

  .sns {
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    z-index: 160;

    ul {
      display: block;
      flex-direction: column !important;

      li {
        padding-bottom: 1rem;

        a {
          display: inline-block;
          transition: all 0.25s ease;
          &:hover {
            transform: translateY(-4px);
          }
          i {
            font-size: 2rem;
            &:hover {
              color: #ec970e;
            }
          }
        }
      }
    }
  }
}

// about section
.about {
  background: rgb(45, 42, 96);
  background: linear-gradient(
    90deg,
    rgba(45, 62, 100, 1) 0%,
    rgba(76, 91, 90, 1) 29%,
    rgba(67, 83, 81, 1) 71%,
    rgba(45, 62, 100, 1) 100%
  );
}

// rest space
.rest {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 22rem;
  z-index: 0;
  overflow: hidden;

  // transform: skewY(-5deg);
  // z-index: 10000;

  // .rest-img {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   transform: skewY(5deg);
  // }

  &::before {
    content: "";
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    // 画像の端までぼけてしまうため切り落とすため
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }

  .rest-title {
    color: rgb(231, 243, 212);
    font-size: 5rem;
    font-weight: 700;
    line-height: 21rem;
    text-align: center;
    display: inline-block;
    @include middle();
    text-shadow: 0 0 10px #333;
  }
}
.rest01 {
  background-image: url(/images/pexels-max-deroin-51415.jpg);
}
.rest02 {
  background-image: url(/images/pexels-photo-4709285.webp);
}

// teacher section
.teacher {
  background: rgb(199, 141, 81);
  background: linear-gradient(
    90deg,
    rgba(199, 141, 81, 1) 0%,
    rgba(194, 147, 70, 1) 31%,
    rgba(207, 122, 53, 1) 65%,
    rgba(218, 124, 65, 1) 100%
  );

  #teacher {
    margin-top: 10rem;
  }

  .team-member {
    img {
      width: 200px;
      height: 200px;
      // width: 125px;
      // height: 125px;
      border-radius: 100px;
      object-fit: cover;
    }

    h5 {
      color: #000;
    }

    p {
      color: #000;
    }
  }
}

// course section
.course {
  padding: 0;
  height: 100%;

  .section-wr {
    position: relative;
    width: 100vw;
    height: 250vh;
    overflow: hidden;

    video {
      display: block;
      // position:absoluteでvideoのheightを引き伸ばす
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      min-width: 100%;
      min-height: 100%;
    }

    &::after {
      @include overlay(rgba(0, 0, 0, 0.7));
      z-index: 0;
    }

    .section-ttl {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #ffffff;
      z-index: 1;

      .course-design-wr {
        padding-right: 1.5rem;
      }

      .course-development-wr {
        padding-left: 1.5rem;
      }

      h3 {
        margin-bottom: 2rem;
        /*線の基点とするためrelativeを指定*/
        position: relative;
        &:hover {
          &::after {
            transform: scale(1, 1); /*X方向にスケール拡大*/
          }
        }
        &::after {
          content: "";
          /*絶対配置で線の位置を決める*/
          position: absolute;
          bottom: -2.5px;
          left: 40%;
          /*線の形状*/
          width: 20%;
          height: 1.5px;
          /*アニメーションの指定*/
          transition: all 0.3s;
          transform: scale(0, 1); /*X方向0、Y方向1*/
          transform-origin: center top; /*上部中央基点*/
        }
      }
      .design-title {
        &:hover {
          color: #a3febe;
        }
        &::after {
          background: #a3febe;
        }
      }
      .development-title {
        &:hover {
          color: #7ddcf6;
        }
        &::after {
          background: #7ddcf6;
        }
      }

      .course-item {
        position: relative;
        overflow: hidden;
        margin-bottom: 1rem;
        border: 0.5px solid #fff;
        h4 {
          font-size: 2rem;
          text-align: center;
          padding-bottom: 0.2rem;
        }
        p {
          font-size: 1.3rem;
        }
        img {
          transition: all 0.25s ease;
          width: 100%;
          height: 20rem;
          object-fit: cover;
        }
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          // background-color: rgba(7, 22, 0, 0.7);
          padding: 30px;
          display: flex;
          align-items: center;
          // justify-content: center;
          opacity: 0;
          transition: all 0.3s ease;
          h2,
          h5 {
            color: #fff;
          }
        }
        &:hover {
          .overlay {
            opacity: 1;
          }
          img {
            transform: scale(1.1);
          }
        }
        .course-design {
          background-color: rgba(7, 24, 1, 0.8);
        }
        .course-development {
          background-color: rgba(2, 7, 23, 0.8);
        }
      }
    }
  }
}

// works section
.works {
  padding-top: 10rem;
  background: rgb(102, 52, 38);
  background: linear-gradient(
    90deg,
    rgba(102, 52, 38, 1) 0%,
    rgba(87, 71, 29, 1) 29%,
    rgba(96, 72, 31, 1) 73%,
    rgba(96, 54, 28, 1) 100%
  );
  .carousel {
    border-radius: 50px;
    .carousel-inner {
      .carousel-item {
        height: 700px;
        // height: auto;
        background: #000;

        .img-fluid {
          width: 100%;
          height: auto;
          min-height: 700px;
          opacity: 0.2;
          object-fit: cover;

          &::after {
            @include overlay(rgba(0, 0, 0, 0.5));
            z-index: -1;
          }
        }

        a {
          display: block;
          width: 100%;
        }

        .show-image {
          display: block;
          width: 100%;
        }

        .carousel-caption {
          bottom: 24rem;
          text-shadow: 0 2px 2px #666;
          h5 {
            font-size: 6rem;
            padding-bottom: 0.5rem;
            font-weight: 800;
            margin-bottom: 0.2rem;
          }

          h6 {
            font-size: 1.3rem;
            color: #fff;
            width: 13rem;
            margin: auto;
            letter-spacing: -0.2rem;
          }

          p {
            font-size: 2rem;
            padding-top: 0.3rem;
            padding-bottom: 1rem;
          }

          a {
            width: 6.5rem;
            margin: auto;
            background-color: rgb(244, 139, 20);
            color: #fff;
            padding: 2rem;
            text-shadow: none;

            &:hover {
              background-color: rgb(241, 176, 101);
            }
          }
        }
      }
    }

    .carousel-control-prev-icon {
      &:hover {
        color: aquamarine;
      }
    }
  }
}

// graduate section
.graduate {
  background: rgb(102, 52, 38);
  background: linear-gradient(
    90deg,
    rgba(102, 52, 38, 1) 0%,
    rgba(87, 71, 29, 1) 29%,
    rgba(96, 72, 31, 1) 73%,
    rgba(96, 54, 28, 1) 100%
  );
  img {
    width: 100%;
    height: 23rem;
    object-fit: cover;
    border-radius: 5px;
  }
  .gra-p-img {
    // width: 40%;
    padding-left: 16rem;
  }
  .gra-description {
    // width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 2rem;
    padding-left: 4rem;

    h5 {
      font-size: 2rem;
    }

    .gra-category {
      padding: 0.3rem;
      font-size: 1rem;
      border-radius: 1rem;
    }

    .gra-design {
      width: 7rem;
      border: #97f6a7 solid 1px;
      color: #97f6a7;
    }

    .gra-development {
      width: 5rem;
      border: #a5ecfb solid 1px;
      color: #a5ecfb;
    }

    p {
      width: 70%;
      font-size: 1.5rem;
    }

    a {
      background-color: rgb(244, 139, 20);
      color: #fff;
      width: 6rem;

      &:hover {
        background-color: rgb(241, 176, 101);
      }
    }
  }
}

// wave
.wave {
  background: rgb(102, 52, 38);
  background: linear-gradient(
    90deg,
    rgba(102, 52, 38, 1) 0%,
    rgba(87, 71, 29, 1) 29%,
    rgba(96, 72, 31, 1) 73%,
    rgba(96, 54, 28, 1) 100%
  );
  position: relative;
  height: 200px; /*何も表示されない場合は各波の親要素に高さを持たせましょう。*/
}
canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

// footer section
.footer {
  background-color: #fff;
  // padding: 60px;
  // padding-bottom: 90px;
  padding: 20px;
  z-index: 100;

  img {
    width: 100%;
    height: 3rem;
  }

  ul {
    li {
      margin-left: 2rem;
      a {
        color: #000;
        font-size: 1.7rem;
        &:hover {
          color: #c7c5c5;
        }
      }
    }
  }
}

// @media query
@media (max-width: 1200px) {
  // graduate section
  .graduate {
    .gra-p-img {
      padding-left: 2rem;
    }
    .gra-description {
      padding-left: 4rem;

      p {
        width: 100%;
      }
    }
  }
}

@media (max-width: 992px) {
  // navvar section
  nav {
    .navbar-toggler {
      z-index: 10;
      color: #fff !important;
    }
    // .navvar-light {
    //   z-index: 15;
    // }
    .nav-list {
      z-index: 10;
      padding-right: 0rem;
      padding-left: 1rem;
      padding-top: 1rem;
      .navbar-nav {
        .nav-item {
          .nav-link {
            font-size: 1.4rem;
            color: #000 !important;
          }
        }
      }
    }
  }
}

@media (max-width: 772px) {
  // course section
  .course {
    .course-wr {
      position: relative;
      width: 100vw;
      height: 180vh;
      overflow: hidden;

      .course-ttl {
        .course-design-wr {
          padding-right: 0rem;
        }

        .course-development-wr {
          padding-left: 0rem;
        }

        h3 {
          margin-bottom: 1rem;
        }

        .course-item {
          margin-bottom: 0.9rem;
          img {
            height: 17rem;
          }
        }
      }
    }
  }

  // graduate section
  .graduate {
    img {
      height: 20rem;
    }
    .gra-p-img {
      padding-left: 0rem;
    }
    .gra-description {
      padding-left: 0rem;

      h5 {
        font-size: 2.2rem;
        margin-top: 2rem;
      }

      p {
        width: 100%;
      }
    }
  }
}
